:root {
  --el-bg-color-page: #f3f3f3;
  --el-bg-color: #ffffff;
  --el-border-color: #e5e5e5;
  --el-color-primary: #0e639c;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #666666;
  --el-text-color-placeholder: #a8abb2;
  --el-fill-color: #f5f5f5;
  --el-fill-color-light: #fafafa;
}
